<p id="notice"><%= notice %></p>

<p>
  <strong>Field1:</strong>
  <%= @testemplate.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @testemplate.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @testemplate.field3 %>
</p>

<%= link_to 'Edit', edit_testemplate_path(@testemplate) %> |
<%= link_to 'Back', testemplates_path %>
